{% extends "sampletracker/base.html" %}

{% load socialaccount %}

{% load crispy_forms_tags%}

{% block content %}
    {% if user.is_authenticated %}
        <table class="table table-bordered table-stripped table-hover">
            <thead>
                <th scope="col" >Project name</th>
                <th scope="col" >Project Owner</th>
                <th scope="col">Date Created</th>
            </thead>
            <tbody>
                {% for project in projects %}
                    {% if user == project.user %}
                        <tr scope="row">
                            <td><a href="{% url 'project-detail' project.id %}"> {{ project.name }} </td>
                            <td>{{ project.user }}</td>
                            <td>{{ project.date_created|date:" j F Y-H:i:s e"}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table> 
        <a href="{% url 'project-create' %}" class="btn btn-info" role="button">Create New Project</a>
    {% else %}
    <section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material" action="#" method="POST">
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center heading"> Welcome to Sampletracker </h3>
                                </div>
                            </div>
                            <!-- De-activated: SignUp Form-->
                            <!--
                            <div class="form-group form-primary"> <input type="text" class="form-control" name="first_name" value="" placeholder="Display name" id="first_name"> </div>
                            <div class="form-group form-primary"> <input type="text" class="form-control" name="email" value="" placeholder="Email" id="email"> </div>
                            <div class="form-group form-primary"> <input type="password" class="form-control" name="password" placeholder="Password" value="" id="password"> </div>
                            <div class="form-group form-primary"> <input type="password" class="form-control" name="password_confirm" placeholder="Repeat password" value="" id="password_confirm"> </div>
                            <div class="row">
                                <div class="col-md-12"> <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="Signup Now"> 
                                </div>
                            </div>
                            <div class="or-container">
                                <div class="line-separator"></div>
                                <div class="or-label">or</div>
                                <div class="line-separator"></div>
                            </div>
                            -->
                            <div class="row">
                                <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="{% provider_login_url 'google' %}"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Login Using Google</a> </div>
                            </div> <br>
                            <p class="text-inverse text-center">Already have an account? <a href="<?= base_url() ?>auth/login" data-abc="true">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    {% endif %}
{% endblock content %}