{% extends "sampletracker/base.html" %}


{% block content %}    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>Requests </h1>
                {% for request in object %}
                    <a href="{% url 'create-sampleslist' %}"> {{ request.id }}</a> |
                    <a href="#"> {{ request.plate_num }}</a> |
                        {% for species in request.speciesset.all %}
                        <a href="#"> {{ speciesset.species_id }}</a>
                        {% endfor %}
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}