{% extends "sampletracker/base.html" %}

{% block content %}
    <table class="table table-bordered table-stripped table-hover">
        <thead>
            <th scope="col">ID</th>
            <th scope="col" >Project name</th>
            <th scope="col" >Project Owner</th>
            <th scope="col">Date Created</th>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr scope="row">
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.user }}</td>
                    <td>{{ project.date_created|date:" j F Y-H:i:s e"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}