{% extends "sampletracker/base.html" %}

{% load crispy_forms_tags%}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Project</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" href="#" >Update</button>
            </div>
        </form>
    </div>
{% endblock %}