{% extends "sampletracker/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Project</legend>
                <h2>Are you sure?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit" >Yes</button>
                <button class="btn btn-outline-info" href="{% url 'project-detail' object.id %}" >Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}