{% extends "sampletracker/base.html" %}

{% load socialaccount %}

{% load crispy_forms_tags%}

{% block content %}
    {% if user.is_authenticated %}
        <h3> <a href="{% url 'order-list'%}">Requests on This Project</a></h3>
        {% if orders %}
            <table class="table table-bordered table-stripped table-hover bootstrap-table-filter-control">
                <thead>
                    <th scope="col" >Request ID</th>
                    <th scope="col" >Number of Plates</th>
                    <th scope="col" >Action</th>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr scope="row">
                            <td><a href="{% url 'create-sampleslist' %}">{{ order.id}}</a></td>
                            <td><a href="#">{{ order.plate_num}}</a></td>
                            <td><a href="{% url 'order-delete' order.id %}"> Delete </a> | <a href="{% url 'order-update' order.id %}"> Update </a> | Approve </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
        {% else %}
            No existing requests. </p><br>
        {% endif %}
        <a href="{% url 'order-create' %}" class="btn btn-info" role="button">Submit a request</a>

    {% else %}
    <section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material" action="#" method="POST">
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center heading">Create Your Account </h3>
                                </div>
                            </div>
                            <div class="form-group form-primary"> <input type="text" class="form-control" name="first_name" value="" placeholder="Display name" id="first_name"> </div>
                            <div class="form-group form-primary"> <input type="text" class="form-control" name="email" value="" placeholder="Email" id="email"> </div>
                            <div class="form-group form-primary"> <input type="password" class="form-control" name="password" placeholder="Password" value="" id="password"> </div>
                            <div class="form-group form-primary"> <input type="password" class="form-control" name="password_confirm" placeholder="Repeat password" value="" id="password_confirm"> </div>
                            <div class="row">
                                <div class="col-md-12"> <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="Signup Now"> <!-- <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="fa fa-lock"></i> Signup Now </button> -->
                                </div>
                            </div>
                            <div class="or-container">
                                <div class="line-separator"></div>
                                <div class="or-label">or</div>
                                <div class="line-separator"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="{% provider_login_url 'google' %}"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div>
                            </div> <br>
                            <p class="text-inverse text-center">Already have an account? <a href="<?= base_url() ?>auth/login" data-abc="true">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    {% endif %}
{% endblock content %}