{% extends "sampletracker/base.html" %}


{% block content %}
    <div class="container-fluid">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Sample ID</th>
                <th scope="col">Subject Barcode</th>
                 <th scope="col">Plate ID</th>
                <th scope="col">Plate Barcode</th>
              </tr>
            </thead>
            <tbody>
              {% if samples %}
                {% for sample in samples %}
                <tr>
                  <th scope="col">{{ sample.id }}</th>
                  <th scope="col">{{ sample.subject_barcode }}</th>
                  <th scope="col">{{ sample.plate_id }}</th>
                  <th scope="col">{{ sample.plate_barcode }}</th>
                </tr>
                {% endfor %}
               {% endif %}
            </tbody>
        </table>
        <div class="form-group">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <input type="file" name="samplelist">
                <br>
                <button class="btn btn-outline-info" href="{% url 'create-sampleslist' %}" >Upload Samples List</button>
            </form>
        </div>
    </div>
{% endblock content %}