{% extends "sampletracker/base.html" %}

{% block content %}
    <div class="container-fluid">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Subject Barcode</th>
                <th scope="col">Subject Name</th>
                <th scope="col">Plate ID</th>
                <th scope="col">Plate Barcode</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% if samples %}
                {% for sample in samples %}
                  <tr>
                    <th scope="col">{{ sample.subject_barcode }}</th>
                    <th scope="col">{{ sample.name }}</th>
                    <th scope="col">{{ sample.plate_id }}</th>
                    <th scope="col">{{ sample.plate_barcode }}</th>
                    {% if sample.status == 1 %}
                     <th scope="col">Pending</th>
                    {% elif sample.status == 2 %}
                    <th scope="col">Approved</th>
                    {% else %}
                    <th scope="col">Submitted</th>
                    {% endif %}
                  </tr>
                  {% endfor %}
               {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}