{% extends "sampletracker/base.html" %}


{% block content %}    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>Services Offered</h1>
                {% for service in services %}
                    <p> <a href="#"> {{ service.name }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}