{% load static %}

{% load socialaccount %}

<!DOCTYPE html>
<html>
  <head>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
      <link rel="stylesheet" type="text/css" href="{% static 'account/main.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'account/login.css' %}">

    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <section class="login-block">
    {% block body %}

    {% if messages %}
    <div>
      <!-- <strong>Messages:</strong> -->
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
            <strong>Menu:</strong>
              <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Sign In</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
              </ul>
        </div>
      </div>
    </div>
    
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </section>
  </body>
</html>
